@charset "UTF-8";
/* Gerais */
html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7070f3;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #800080;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  color: #FFF;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/* Página de login */
.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.formlogin {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.form-inline {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.text-center {
  color: #FFF;
}

.btn-block {
  width: 49%;
}

.btn-block_conta {
  width: 100%;
  margin-top: 5px;
}

.body-login {
  background-color: #7070f3;
}

/* Slider */
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #2a48f3;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #5a3ed5;
}

.carousel-caption.d-md-block h2 {
  text-shadow: #000 2px 2px;
}

.carousel-caption.d-md-block p {
  text-shadow: #000 0.5px 0.5px;
}

.container-fluid, #about-area {
  position: relative;
  top: 400px;
}

/* Footer */
#contact-area, #copy-area {
  position: relative;
  top: 1400px;
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3EC1D5;
}

.contact-box nav p {
  font-size: 16px;
}

.contact-box nav a {
  font-weight: none;
  color: #444;
}

.contact-box nav a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

.contact-title {
  font-weight: bold;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3ec1d5;
}

#git, #email, #insta {
  color: #444;
  border: 1px solid #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid #3EC1D5;
}

/* Copy-area */
#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

/* Descrição e Apelo*/
#about-area {
  background-color: #F9F9F9;
}

#apelo-container {
  background-color: #3508ff7e;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: yellow;
  margin-right: 15px;
}

#about-area .container {
  padding-bottom: 0;
}

/* Página de login */
.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.formlogin {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.form-inline {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.text-center {
  color: #FFF;
}

.btn-block {
  width: 49%;
}

.btn-block_conta {
  width: 100%;
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */