/* Gerais */
$cor_da_fonte: #FFF
$cor_de_fundo_primaria: #000080
$cor_de_fundo_secundaria: #800080

html,body
    height: 100%
    width: 100%

body
    display: flex
    align:
        items: center

.row
  margin: 0

.container
  padding: 70px 0

p, li
    color: #444
    font:
        size: 14px

/* Barra de navegação */

header, .navbar
    background:
        color: $cor_de_fundo_secundaria
  
#nav-container
    padding:
        top: 0
        bottom: 0
  
#logo
    width: 75px
    color: $cor_da_fonte
  
.navbar-brand
    padding: 0
    color: $cor_da_fonte
  
.navbar-brand:hover
    color: $cor_da_fonte
  
#navbar-links 
    a
        color: $cor_da_fonte
  
.navbar-expand-lg .navbar-nav .nav-link
    padding: 1rem .8rem
  
.nav-item.active
    border:
        bottom: 3px solid $cor_da_fonte

/* Página de login */

@mixin forma_login()
    background:
        color: $cor_de_fundo_secundaria
    border: 20px solid $cor_de_fundo_secundaria
        radius: 20px

.form-group
    margin:
        top: 5px
        bottom: 5px
    

.formlogin 
    @include forma_login()
    

.form-inline    
    @include forma_login()

.text-center
    color: $cor_da_fonte

.btn-block
    width: 49%

.btn-block_conta 
    width: 100%
    margin:
        top: 5px

.body-login
    background:
        color: $cor_de_fundo_primaria

/* Slider */

.container-fluid 
    padding: 0

#mainSlider .carousel-inner, #mainSlider .carousel-item
    height: 90vh

#mainSlider .carousel-caption
    top: 30%

#mainSlider .carousel-caption h2
    font-size: 50px
    margin:
        bottom: 30px

#mainSlider .carousel-caption p 
    font:
        size: 22px
        weight: 300
    margin:
        bottom: 100px
    color: $cor_da_fonte

.main-btn 
    background:
        color: #2a48f3
    color: $cor_da_fonte
    text:
        transform: uppercase
    width: 200px
    height: 60px
    padding: 10px 20px
    border:
        radius: 30px
    border: 3px solid transparent
    transition: .5s

.main-btn:hover 
    text:
        decoration: none
    color: $cor_da_fonte
    background:
        color: transparent
    border:
        color: #5a3ed5

.carousel-caption.d-md-block 
    h2
        text-shadow: #000 2px 2px
    p
        text-shadow: #000 0.5px 0.5px

.container-fluid, #about-area
    position: relative
    top: 400px
    
/* Copy-area */

#contact-area, #copy-area
    position: relative
    top: 1400px
    text:
        align: center

.contact-box
    padding:
        bottom: 50px
        top: 50px
    margin:
        bottom: 50px
    border:
        bottom: 1px solid #3EC1D5
    nav
        p 
            font-size: 16px
        a
            font-weight: none
            color: #444
        a:hover
            text-decoration: none
            color: #3ec1d5

.contact-title
    font-weight: bold

#msg-box
    p
        font-size: 22px

%forma_rodape
    margin-bottom: 15px
    border-radius: 0

#contact-form 
    input[type="text"]
        @extend %forma_rodape
    input[type="email"]
        @extend %forma_rodape
    textarea
        @extend %forma_rodape
    .main-btn
        width: 120px
        height: 50px
    .main-btn:hover
            color: #3ec1d5

#git, #email, #insta
    color: #444
    border: 1px solid #444
        radius: 50%
    width: 55px
    height: 55px
    line-height: 55px
    margin-bottom: 20px


footer
    position: absolute
    bottom: 0
    width: 100%

.footer-title
    text:
        align: center
    font-size: 40px
    padding:
        bottom: 50px
        top: 50px
    margin:
        top: 50px
    border:
        top: 1px solid #3EC1D5

/* Copy-area */

#copy-area
    .container
        padding: 10px 0
        text-align: center
        p
            margin-bottom: 0
        a
            font-weight: bold
            color: #444
        a:hover
            text-decoration: none
            color: #3ec1d5