@charset "UTF-8";
/* Gerais */
html, body {
  height: 100%;
}

main {
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7070f3;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #800080;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  color: #FFF;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

.navbar-text {
  color: #FFF;
}

#sigla {
  letter-spacing: 7px;
  text-align: center;
}

#titulo-comp {
  font-size: smaller;
}

/* Slider */
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #2a48f3;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #5a3ed5;
  text-decoration: none;
}

.carousel-caption.d-md-block h2 {
  text-shadow: #000 2px 2px;
}

.carousel-caption.d-md-block p {
  text-shadow: #000 0.5px 0.5px;
}

.container-fluid, #about-area {
  position: relative;
  top: 80px;
}

/* Descrição e Apelo*/
#about-area {
  background-color: #F9F9F9;
}

#apelo-container {
  background-color: #3508ff7e;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: yellow;
  margin-right: 15px;
}

#about-area .container {
  padding-bottom: 0;
}

/* Página de login */
#container-login {
  position: relative;
  top: 200px;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.formlogin {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.form-inline {
  background-color: #800080;
  border: 20px solid #800080;
  border-radius: 20px;
}

.text-center {
  color: #FFF;
}

.btn-block {
  width: 49%;
}

.btn-block_conta {
  width: 100%;
  margin-top: 5px;
}

/* Desenvolvedores */
#card-desenvolvedores {
  border-radius: 10%;
  border-width: 0;
  background: black;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

#card-corpo, #card-titulo, #card-palavras {
  text-align: center;
  color: #fad609;
}

.card-link {
  text-decoration: none;
}

.card-img-top {
  border-radius: 50%;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 20px 30px 30px 20px;
}

#card-desenvolvedores:hover {
  background: #0077ff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#card-container, #amanda, #ezequiel, #jairon, #sofia {
  position: relative;
  top: 50px;
  width: 100%;
  height: 75%;
}

#card-container h1, #amanda h1, #ezequiel h1, #jairon h1, #sofia h1 {
  padding-bottom: 25px;
}

#amanda h1, #ezequiel h1, #jairon h1, #sofia h1, #amanda p, #ezequiel p, #jairon p, #sofia p {
  color: white;
}

#team-area {
  position: relative;
  margin-bottom: 200px;
  margin-top: 30px;
}

#team-heading, #team-area {
  margin-bottom: 50px;
  font-size: 50px;
  color: black;
}

#amanda, #ezequiel, #jairon, #sofia {
  padding: 50px;
  padding-bottom: 70px;
  background-color: rebeccapurple;
  margin-top: 200px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.295);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.295);
}

#facebook, #instagram, #email, #github {
  width: 25px;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%;
}

#facebook:hover {
  color: #2b6aff;
}

#instagram:hover {
  color: #d414ab;
}

#github:hover {
  color: #000000;
}

#email:hover {
  color: #dd4b39;
}

.botao-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #ffee00;
  bottom: 40px;
  right: 40px;
  text-align: center;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.411);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.411);
  cursor: pointer;
  border-radius: 50%;
}

.bi-arrow-up {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  color: #000;
  font-size: 30px;
}

.botao-top:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Serviços */
.grafico{
  width:200px;
  height:150px;
}

#card-servicos1, #card-servicos2, #card-servicos3, #card-servicos4 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #FFF;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rebeccapurple;
}

#nova-atv {
  position: fixed;
  margin-left: 100px;
  margin-right: 100px;
  top: 100px;
}

#aba1-ativa, #aba2-ativa, #aba3-ativa {
  background-color: #5a2d86;
  border-color: rgba(63, 32, 95, 0.5);
}

.card-text, #aba1, #aba2, #aba3, #aba1-ativa, #aba2-ativa, #aba3-ativa {
  color: #FFF;
}

#ampulheta {
  width: 200px;
  height: 200px;
}

#cronometro {
  padding: 5px;
  color: #444;
  background-color: #FFF;
  border-radius: 5px;
  margin-right: 100px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* Footer */
#contact-area-index, #copy-area-index {
  position: relative;
  top: 1100px;
  text-align: center;
}

#contact-area-login, #copy-area-login, #contact-area-atv, #copy-area-atv {
  position: relative;
  top: 0px;
  text-align: center;
}

#contact-area-desenvolvedores, #copy-area-desenvolvedores {
  position: relative;
  top: 3400px;
  text-align: center;
}

#contact-area-pom, #copy-area-pom {
  position: relative;
  top: 500px;
  text-align: center;
}

#contact-area-criar_atv, #copy-area-criar_atv {
  position: relative;
  top: 200px;
  text-align: center;
  z-index: -1;
}

#contact-area-des, #copy-area-des {
  position: relative;
  top: 3200px;
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #444;
}

.contact-box p {
  font-size: 16px;
}

.contact-box a {
  font-weight: none;
  color: #444;
}

.contact-box a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.contact-box i {
  color: #444;
  border: 2px solid #444;
  border-radius: 70%;
  width: 30px;
  height: 55px;
  line-height: 55px;
  margin: 40px;
  font-size: 30px;
  padding: 3px;
}

.contact-title {
  font-weight: bold;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #F9F9F9;
}

.espaco-footer {
  padding-bottom: 100px;
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-title {
  text-align: center;
  font-size: 40px;
}

/* Copy-area */
#copy-area-index .container, #copy-area-login .container, #copy-area-desenvolvedores .container, #copy-area-atv .container, #copy-area-pom .container, #copy-area-criar_atv .container, #copy-area-des .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area-index .container p, #copy-area-login .container p, #copy-area-desenvolvedores .container p, #copy-area-atv .container p, #copy-area-pom .container p, #copy-area-criar_atv .container p, #copy-area-des .container p {
  margin-bottom: 0;
}

#copy-area-index .container a, #copy-area-login .container a, #copy-area-desenvolvedores .container a, #copy-area-atv .container a, #copy-area-pom .container a, #copy-area-criar_atv .container a, #copy-area-des .container a {
  font-weight: bold;
  color: #444;
}

#copy-area-index .container a:hover, #copy-area-login .container a:hover, #copy-area-desenvolvedores .container a:hover, #copy-area-atv .container a:hover, #copy-area-pom .container a:hover, #copy-area-criar_atv .container a:hover, #copy-area-des .container a:hover {
  text-decoration: none;
  color: #F9F9F9;
}
/*# sourceMappingURL=style.css.map */