/* Gerais */
$cor_da_fonte: #FFF
$cor_do_fundo: #353D41

html,body
    height: 100%

body
    display: flex
    flex-direction: columns
    align-items: center

.row
  margin: 0

.container
  padding: 70px 0

p, li
    color: #444
    font-size: 14px

/* Barra de navegação */

header, .navbar
    background-color: $cor_do_fundo
  
#nav-container
    padding:
        top: 0
        bottom: 0
  
#logo
    width: 75px
    color: $cor_da_fonte
  
.navbar-brand
    padding: 0
    color: $cor_da_fonte
  
.navbar-brand:hover
    color: $cor_da_fonte
  
#navbar-links 
    a
        color: $cor_da_fonte
  
.navbar-expand-lg .navbar-nav .nav-link
    padding: 1rem .8rem
  
.nav-item.active
    border:
        bottom: 3px solid $cor_da_fonte

/* Página de login */

@mixin forma_login()
    background:
        color: $cor_do_fundo
    border: 20px solid $cor_do_fundo
        radius: 20px

.form-group
    margin:
        top: 5px
        bottom: 5px
    

.formlogin 
    @include forma_login()
    

.form-inline    
    @include forma_login()

.text-center
    color: $cor_da_fonte

.btn-block
    width: 49%

.btn-block1 
    width: 100%
    margin:
        top: 5px

/* Desenvolvedores */

.card-body
    align-items: center
    text-align: center

.container-fluid
    flex-direction: column