/* Gerais */
$cor_da_fonte: #FFF
$cor_de_fundo_primaria: #7070f3
$cor_de_fundo_secundaria: #800080

html,body
    height: 100%

body
    display: flex
    flex-direction: columns
    align:
        items: center
    background:
        color: $cor_de_fundo_primaria

.row
  margin: 0

.container
  padding: 70px 0

p, li
    color: #444
    font:
        size: 14px

/* Barra de navegação */

header, .navbar
    background:
        color: $cor_de_fundo_secundaria
  
#nav-container
    padding:
        top: 0
        bottom: 0
  
#logo
    width: 75px
    color: $cor_da_fonte
  
.navbar-brand
    padding: 0
    color: $cor_da_fonte
  
.navbar-brand:hover
    color: $cor_da_fonte
  
#navbar-links 
    a
        color: $cor_da_fonte
  
.navbar-expand-lg .navbar-nav .nav-link
    padding: 1rem .8rem
  
.nav-item.active
    border:
        bottom: 3px solid $cor_da_fonte

/* Slider */

.container-fluid 
    padding: 0

#mainSlider .carousel-inner, #mainSlider .carousel-item
    height: 90vh

#mainSlider .carousel-caption
    top: 30%

#mainSlider .carousel-caption h2
    font-size: 50px
    margin:
        bottom: 30px

#mainSlider .carousel-caption p 
    font:
        size: 22px
        weight: 300
    margin:
        bottom: 100px
    color: $cor_da_fonte

.main-btn 
    background:
        color: #2a48f3
    color: $cor_da_fonte
    text:
        transform: uppercase
    width: 200px
    height: 60px
    padding: 10px 20px
    border:
        radius: 30px
    border: 3px solid transparent
    transition: .5s

.main-btn:hover 
    text:
        decoration: none
    color: $cor_da_fonte
    background:
        color: transparent
    border:
        color: #5a3ed5

.carousel-caption.d-md-block 
    h2
        text-shadow: #000 2px 2px
    p
        text-shadow: #000 0.5px 0.5px

.container-fluid, #about-area
    position: relative
    top: 100px

/* Descrição e Apelo*/
#about-area 
  background-color: #F9F9F9

#apelo-container 
  background-color: #3508ff7e

.main-title 
  color: #444
  margin: 0 0 65px 0
  font-size: 40px
  text-align: center

.main-title::after 
  content: ""
  border-top: 2px solid #333
  width: 15%
  position: absolute
  top: 60px
  left: 42.5%

.about-title 
  font-size: 17px
  color: #444
  text-transform: uppercase
  font-weight: bold

#about-list 
  list-style: none
  padding-left: 0

#about-list li 
  line-height: 30px

#about-list i 
  color: yellow
  margin-right: 15px

#about-area .container
    padding-bottom: 0 

/* Página de login */

@mixin forma_login()
    background:
        color: $cor_de_fundo_secundaria
    border: 20px solid $cor_de_fundo_secundaria
        radius: 20px

#container-login
  position: relative
  top: 200px


.form-group
    margin:
        top: 5px
        bottom: 5px
    

.formlogin 
    @include forma_login()
    

.form-inline    
    @include forma_login()

.text-center
    color: $cor_da_fonte

.btn-block
    width: 49%

.btn-block_conta 
    width: 100%
    margin:
        top: 5px

/* Desenvolvedores */

#card-desenvolvedores
  border-radius: 10%
  border-width: 0
  background: black
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05)

#card-corpo, #card-titulo, #card-palavras
  text-align: center
  color: rgb(250, 214, 9)

.card-link
  text-decoration: none

.card-img-top
  border-radius: 50%
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12)
  padding: 20px 30px 30px 20px

#card-desenvolvedores:hover
  background: rgb(0, 119, 255)
  transform: scale(1.05)
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06)
  cursor: pointer

#card-container, #amanda,#ezequiel,#jairon,#sofia
  position:relative
  top: 50px
  width:100%
  height:75%

#card-container h1, #amanda h1,#ezequiel h1,#jairon h1,#sofia h1
  padding-bottom: 25px


#amanda h1, #ezequiel h1, #jairon h1, #sofia h1, #amanda p, #ezequiel p, #jairon p, #sofia p
  color: white

#team-area
  position:relative
  margin-bottom: 200px

#team-heading,#team-area
  margin-bottom:50px
  font-size: 50px
  color: rgb(0, 0, 0)

#amanda,#ezequiel,#jairon,#sofia
  padding: 50px
  padding-bottom: 70px
  background-color: rebeccapurple
  margin-top: 200px
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0, 0, 0, 0.295)

#facebook, #instagram, #email, #github 
  width: 25px
  padding: 20px
  font-size: 40px
  text-align: center
  text-decoration: none
  margin: 5px 2px
  color: white
  border-radius: 50%

#facebook:hover 
  color: #2b6aff

#instagram:hover 
  color: #d414ab

#github:hover 
  color: #000000

#email:hover 
  color: #dd4b39

.botao-top
  position:fixed
  width: 50px
  height: 50px
  background-color: rgb(255, 238, 0)
  bottom: 40px
  right:40px
  text-align: center
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0, 0, 0, 0.411)
  cursor: pointer
  border-radius: 50%

 .bi-arrow-up
  align-items: center
  line-height: 50px
  color: #000
  font-size:30px
 
 .botao-top:hover
  transform: scale(1.05)
 

/*Serviços*/

#card-servicos1, #card-servicos2, #card-servicos3, #card-servicos4
  position:relative
  margin-top: 30px
  margin-bottom: 30px
  color:#444
  margin-left: 50px
  margin-right: 50px

#nova-atv
  position:fixed
  margin-left: 100px
  margin-right:100px
  top: 200px
