{% extends "template.htm" %}
{% load static %}

{% block cabecalho %}
	<title>Login | S.T.A.R.F.O.C.U.S.</title>
{% endblock %}
{% block estilo %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
    

{% block conteudo %}
  <div class = "container" id="container-login">
        <div class="justify-content-center align-items-center row">
            <div class="col-4">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" placeholder="Nome" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Sobrenome" class="form-control"/>
                    </div> 
                    <div class="form-group">
                        <input type="text" placeholder="Nome de Usuário" class="form-control"/>
                    </div>    
                    <div class="input-group">
                        <input type="password" placeholder="Senha" class="form-control"/>
                        <input type="password" placeholder="Confirmar" class="form-control"/>
                    </div>
                    <div>
                        <a class="btn btn-success btn-block_conta" href="{% url 'login' %}" role="button">Finalizar</a> 
                    </div>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}