{% extends "template.htm" %}
{% load static %}

{% block cabecalho %}
	<title>Meu desempenho | S.T.A.R.F.O.C.U.S.</title>
{% endblock %}
{% block estilo %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
    

{% block conteudo %}
  <div class="container-fluid espaco-footer">
        <div class="card text-center" id="card-servicos3">
            <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'servicos' %}" id="aba1">Minhas atividades</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'pomodoro' %}" id="aba2">Pomodoro</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="#" id="aba3-ativa">Desempenho</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'top_user' 10 %}" id="aba4">Melhores usuários</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'produtividade' %}" id="aba5">Produtividade dos usuários</a>
                </li>
            </ul>
            </div>
            <div class="card-body"><div class="row">
              <div class="col-md-4">
                  <h5>Beber água</h5>
                  <br>
                  <img src="{% static 'img/grafico_generico.jpg' %}" alt="Gráfico genérico para ilustrar" class="grafico"/>
                  <br>
              </div>
              <div class="col-md-4">
                <h5>Estudar Linguagens de Programação</h5>
                <br>
                <img src="{% static 'img/grafico_generico.jpg' %}" alt="Gráfico genérico para ilustrar" class="grafico"/>
                <br>
              </div>
              <div class="col-md-4">
              </div>
            </div>
            <!--<p class="card-text">Desculpe, não há nenhum desempenho para exibir ainda.</p>-->
            </div>
        </div>
    </div>
{% endblock %}