{% load static %}

<header>
    <div class = "container" id = 'nav-container'>
        <nav class = "navbar navbar-expand-lg fixed-top">
            <a href="#">
                <img id = "logo" src="{% static 'img/logotipo.png' %}" alt = "logotipo">
            </a> 
            
            <div class="navbar-text">
                <h3 id="sigla">S.T.A.R.F.O.C.U.S.</h3> 
                <h6 id="titulo-comp">Sistema de Trabalho, Agenda e Rotina Focada e Organizada Contido em um Único Site</h6>
            </div>
            
        <button class = "navbar-toggler" type="button" data-toggle = "collapse" data-target = "#navbar-links" aria-controls = "navbar-links" aria-expanded="false" aria-label = "Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home-menu" href="{% url 'index' %}">Home</a>
                <a class="nav-item nav-link" id="services-menu" href="{% url 'servicos' %}">Serviços</a>
                <a class="nav-item nav-link" id="team-menu" href="{% url 'desenvolvedores' %}">Desenvolvedores</a>
                <a class="nav-item nav-link" id="portfolio-menu" href="{% url 'login' %}">Login</a>
            </div>
            </div>
        </nav>
    </div>
</header>