{% extends "template.htm" %}
{% load static %}

{% block cabecalho %}
	<title>Desenvolvedores | S.T.A.R.F.O.C.U.S.</title>
{% endblock %}
    

{% block conteudo %}
<div id="team-area">
  <div class="container" id="card-container">
    <div class = "row">

      <div class="col-12">
        <h3 class="heading" id="team-heading">Nosso Time</h3>
      </div>

      <div class="col-md-3">
        <div class="card card-desenvolvedores">
          <a class="card-link" href="#amanda"><img src="{% static 'img/amanda.jpg' %}" class="card-img-top" alt="Imagem de Perfil 1">
            <div class="card-body card-corpo">
              <h5 class="card-title card-titulo">Amanda Perez</h5>
              <p class="card-text card-palavras">Ciência de Dados - FGV EMAp</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-desenvolvedores">
          <a class="card-link" href="#ezequiel"><img src="{% static 'img/ezequiel.jpg' %}" class="card-img-top" alt="Imagem de Perfil 2">
            <div class="card-body card-corpo">
              <h5 class="card-title card-titulo">Ezequiel Braga</h5>
              <p class="card-text card-palavras">Matemática Aplicada - FGV EMAp</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-desenvolvedores">
          <a class="card-link" href="#jairon"><img src="{% static 'img/jairon.jpg' %}" class="card-img-top" alt="Imagem de Perfil 3">
            <div class="card-body card-corpo">
              <h5 class="card-title card-titulo">Jairon Henrique</h5>
              <p class="card-text card-palavras">Matemática Aplicada - FGV EMAp</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-desenvolvedores">
          <a class="card-link" href="#sofia"><img src="{% static 'img/sofia.jpg' %}" class="card-img-top" alt="Imagem de Perfil 4">
            <div class="card-body card-corpo">
              <h5 class="card-title card-titulo">Sofia Lakschevitz</h5>
              <p class="card-text card-palavras">Matemática Aplicada - FGV EMAp</p>
            </div>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="sobre-area">
  <div class="container-fluid" id="amanda">
    <div class = "row">
      <div class="col-md-8">
        <h1>Amanda Perez</h1>
        <p>Amanda Perez é estudante de Ciência de Dados na Escola de Matemática Aplicada da Fundação Getulio Vargas (FGV-EMAp), no Rio de Janeiro, mas nasceu e ainda vive em Londrina, Paraná, Brasil.

          Co-fundadora da S.T.A.R.F.O.C.U.S., tem como principal objetivo ajudar outras pessoas que, assim como ela, também têm dificuldades em organizar seu próprio tempo. 
          
          Amanda ama desenhar, criar histórias de fantasmas, ver desenhos animados e ler livros de terror e ficção científica. E, claro, pretende, por meio dos estudos, conseguir sua biblioteca particular de três andares cheia de passagens secretas.
        </p>
        <a href="https://www.facebook.com/groups/139744391271439/user/100008703466803" target="_blank" class="bi bi-facebook facebook"></a>
        <a href="https://www.instagram.com/amanda.de.m.perez/" target="_blank" class="bi bi-instagram instagram"></a>
        <a href="mailto:nandaperez2002@gmail.com" target="_blank" class="bi bi-envelope-fill email"></a>
        <a href="https://github.com/Perez-Amanda" target="_blank" class="bi bi-github github"></a>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="{% static 'img/amanda.jpg' %}" alt="Amanda"/>
      </div>
    </div>
  </div>
</div>

<div class="sobre-area">
  <div class="container-fluid" id="ezequiel">
    <div class = "row">
      <div class="col-md-8">
        <h1>Ezequiel Braga</h1>
        <p>Natural de Arapiraca – AL, Ezequiel é estudante de Matemática Aplicada na FGV-EMAp e mora em Coité do Nóia – AL.

          Co-fundador da S.T.A.R.F.O.C.U.S, sabe o quanto é difícil manter organização e disciplina na realização de suas atividades. Sendo assim, junto com seus amigos, decidiu apresentar uma solução para isso.
          
          Ezequiel adora futebol, mas como pequeno medíocre que é, acabou não desenvolvendo o talento necessário para a profissão. Porém, nas horas vagas se diverte jogando Pro Evolution Soccer, fingindo ser um astro da área. 
          
        </p>
        <a href="https://www.facebook.com/profile.php?id=100008145907144" target="_blank" class="bi bi-facebook facebook"></a>
        <a href="https://www.instagram.com/ezequiel_braga_ebs/" target="_blank" class="bi bi-instagram instagram"></a>
        <a href="mailto:ezequielsantos2306@gmail.com" target="_blank" class="bi bi-envelope-fill email"></a>
        <a href="https://github.com/EzequielEBS" target="_blank" class="bi bi-github github"></a>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="{% static 'img/ezequiel.jpg' %}" alt="Ezequiel"/>
      </div>
    </div>
  </div>
</div>

<div class="sobre-area"> 
  <div class="container-fluid" id="jairon">
    <div class = "row">
      <div class="col-md-8">
        <h1>Jairon Henrique</h1>
        <p>Jairon faz matemática aplicada na FGV-EMAp, é natural da capital
          alagoana, Maceió, e mora em União dos Palmares-Alagoas.
          
          Sendo aluno de matemática, decidiu se juntar ao projeto para ajudar 
          outros estudantes a organizarem seu tempo e melhorarem sua produtividade,
          pois isso é crucial, dado a imensidão de tarefas a serem realizadas.
          
          Jairon é super fã de histórias de super-heróis e fantasia, dizem até que
          ele é o próprio homem-aranha. Entre os intervalos das partidas de mario 
          world, seu maior objetivo é ser o homem de ferro (mas não morrer na luta
          contra o Thanos).
          
        </p>
        <a href="https://www.facebook.com/jairon.batista.5" target="_blank" class="bi bi-facebook facebook"></a>
        <a href="https://www.instagram.com/jairon_henrique/" target="_blank" class="bi bi-instagram instagram"></a>
        <a href="mailto:henriquejairon@gmail.com" target="_blank" class="bi bi-envelope-fill email"></a>
        <a href="https://github.com/JaironHenrique" target="_blank" class="bi bi-github github"></a>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="{% static 'img/jairon.jpg' %}" alt="Jairon"/>
      </div>
    </div>
  </div>
</div>

<div class="espaco-footer sobre-area">
  <div class="container-fluid" id="sofia">
    <div class = "row">
      <div class="col-md-8">
        <h1>Sofia Lakschevitz</h1>
        <p>Sofia é estudante de Matemática Aplicada na FGV- EMAp e é natural do Rio de Janeiro, RJ.

          Co-fundadora da S.T.A.R.F.O.C.U.S, tem como objetivo ajudar estudantes como ela, a se concentrar e não se distrair com qualquer coisa que aparece, pois estudar focado é mais eficiente!
          
          Como o estereótipo carioca, Sofia adora ir à praia, entrar no mar e pegar um sol. Além disso, ama comer  açaí, cantar e assistir séries em plataformas de streaming. Embora a cor do seu super-(anti)-herói Loki seja verde, sua cor favorita é o vermelho.
          
          Seu sonho é visitar pelo menos 3 países em cada continente (menos a Antártida). Quando realizado, a meta do sonho será dobrada e assim por diante.
        </p>
        <a href="https://www.facebook.com/sofia.laks.5/" target="_blank" class="bi bi-facebook facebook"></a>
        <a href="https://www.instagram.com/sofialakschevitz/" target="_blank" class="bi bi-instagram instagram"></a>
        <a href="mailto:sofia.laks15@gmail.com" target="_blank" class="bi bi-envelope-fill email"></a>
        <a href="https://github.com/sofialakschevitz" target="_blank" class="bi bi-github github"></a>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="{% static 'img/sofia.jpg' %}" alt="Sofia"/>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

{% block rodape %}
  <footer>
  <div id="contact-area-des">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="main-title footer-title">Entre em contato conosco</h3>
        </div>
        <div class="col-md-4 contact-box">
          <i class="bi bi-github"></i>
          <p><span class="contact-title">Nos siga:</span> <a href="https://github.com/JaironHenrique/app-de-gerenciamento" id="git_starfocus" target="blank">STAR FOCUS</a></p>
        </div>
        <div class="col-md-4 contact-box">
          <i class="bi bi-envelope-fill"></i>
          <p><span class="contact-title">Envie um e-mail:</span> <e-mail>contato.star.focus@gmail.com</e-mail></p>
        </div>
        <div class="col-md-4 contact-box">
          <i class="bi bi-instagram"></i>
          <p><span class="contact-title">Envie uma direct:</span> @star.focus</p>
        </div>
        <div class="col-md-6" id="msg-box">
          <p>Nos deixe uma mensagem:</p>
        </div>
        <div class="col-md-6" id="contact-form">
          <form action="#">
            <input type="email" class="form-control" placeholder="E-mail" name="email">
            <input type="email" class="form-control" placeholder="Assunto" name="subject">
            <textarea class="form-control" rows="3" placeholder="Sua mensagem" name="message"></textarea>
            <input type="submit" class="main-btn" value="Enviar">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="copy-area-des">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Desenvolvido por <a href="{% url 'index' %}" target="_blank">S.T.A.R.F.O.C.U.S</a> &copy; 2021</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="botao-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% endblock %}